<div class="toolbar__wrap">
  <div class="toolbar__paint-tools">
    <app-button class="toolbar__btn" [image]="'pencil'" [text]="'pencil'"></app-button>
    <app-button class="toolbar__btn" [image]="'stop'" [text]="'square'"></app-button>
    <app-button class="toolbar__btn" [image]="'circle'" [text]="'circle'"></app-button>
    <app-button class="toolbar__btn" [image]="'eraser'" [text]="'erasers'"></app-button>
    <app-button class="toolbar__btn" [image]="'minus'" [text]="'line'"></app-button>
    <app-button class="toolbar__btn" [image]="'palette'" [text]="'colors'"></app-button>
  </div>
  <div class="toolbar__save-tools">
    <app-button class="toolbar__btn" [image]="'caret-left'" [text]="'back'"></app-button>
    <app-button class="toolbar__btn" [image]="'caret-right'" [text]="'forward'"></app-button>
    <app-button class="toolbar__btn" [image]="'save'" [text]="'save'"></app-button>
  </div>
</div>
